v8
*.o
*.a
*.gz
*.sh
*.exe
*.obj
*.exp
*.lib
*.so
*.dylib
lo
.vscode
scratch
deps
notes.md
lib/inflate/em_inflate.c
lib/inflate/em_inflate.h
lib/**/*.cc
!lib/win/win.cc
!lib/core/core.cc
!lib/curl/curl.cc
!lib/inflate/inflate.cc
!lib/mach/mach.cc
.lo_history
lib/bestlines/bestline.c
lib/bestlines/bestline.h
lib/pico/picohttpparser.c
lib/pico/picohttpparser.h
.cache
compile_commands.json
node_modules
lib/lines/linenoise.h
lib/lines/linenoise.c
zero
dist