deps/*
*.o
*.so
*.a
./spin
*.debug
scratch
deps
.vscode
.*_history
tmp
*.out
node_modules
README.md
todo.md
WebSocket-Benchmark.md
module/adaurl/ada_c.h
module/rustls/rustls.h
module/tcc/libtcc.h
spin
