name: build runtime
on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  build-mac:
#    if: ${{ false }}  # disable
    name: mac
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        platform: [arm64]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v5
        with:
          go-version: '^1.22.1'
      - name: compile runtime
        run: |
          make ARCH=${{ matrix.platform }} lo
      - name: check
        env:
          LO_HOME: ${{ github.workspace }}
          PREFIX: /opt/homebrew/opt
        run: |
          pip install jsonschema
          brew install lz4 zstd openssl@3
          make check
          make check-build
          ./lo build runtime runtime/lo
      - name: upload runtime artifact
        uses: actions/upload-artifact@v4
        with:
          path: ${{ github.workspace }}/lo
          name: lo-mac-${{ matrix.platform }}

  build-mac-x64:
#    if: ${{ false }}  # disable
    name: mac-x64
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        platform: [arm64]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v5
        with:
          go-version: '^1.22.1'
      - name: compile runtime
        run: |
          make ARCH=x64 lo
      - name: check
        env:
          LO_HOME: ${{ github.workspace }}
          PREFIX: /opt/homebrew/opt
        run: |
          make ARCH=x64 check
      - name: upload runtime artifact
        uses: actions/upload-artifact@v4
        with:
          path: ${{ github.workspace }}/lo
          name: lo-mac-x64

  build-linux:
#    if: ${{ false }}  # disable
    name: linux
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        llvm-version: [22]
        platform: [x64]
    env:
      CC: clang-${{ matrix.llvm-version }}
      CXX: clang++-${{ matrix.llvm-version }}
    steps:
      - uses: actions/checkout@v3
      - name: install llvm
        run: |
            wget https://apt.llvm.org/llvm.sh
            chmod +x llvm.sh
            sudo ./llvm.sh ${{ matrix.llvm-version }}
            sudo apt-get update
      - name: install libcurl
        run: |
          sudo apt-get update -y
          sudo apt-get install -qy libcurl4-openssl-dev
      - name: compile
        run: |
          clang++ --version
          make CC=clang-22 CXX=clang++-22 LINK=clang++-22 ARCH=${{ matrix.platform }} lo
      - name: check
        env:
          LO_HOME: ${{ github.workspace }}
        run: |
          sudo apt-get install -qy libffi-dev liblz4-dev libseccomp-dev libsqlite3-dev libtcc-dev zlib1g-dev tcc
          make CC=clang-22 CXX=clang++-22 LINK=clang++-22 check
          make CC=clang-22 CXX=clang++-22 LINK=clang++-22 check-build
          ./lo build runtime runtime/lo
      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: ${{ github.workspace }}/lo
          name: lo-linux-${{ matrix.platform }}

  build-linux-arm64:
    if: ${{ false }}  # disable
    name: linux
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        platform: [arm64]
    steps:
      - uses: actions/checkout@v3
      - name: install libcurl
        run: |
          sudo apt-get update -y
          sudo apt-get install -qy libcurl4-openssl-dev
      - name: compile
        run: |
          make ARCH=${{ matrix.platform }} lo
      - name: check
        env:
          LO_HOME: ${{ github.workspace }}
        run: |
          make check
          sudo apt-get install -qy libffi-dev liblz4-dev libseccomp-dev libsqlite3-dev libtcc-dev zlib1g-dev tcc
          ./lo test/build.js
          ./lo build runtime runtime/lo
      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: ${{ github.workspace }}/lo
          name: lo-linux-${{ matrix.platform }}

  build-windows:
    if: ${{ false }}  # disable
    name: windows
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        platform: [x64,arm64]
    steps:
      - uses: actions/checkout@v3
      - name: Install MSVC/MCBuild (Windows)
        uses: microsoft/setup-msbuild@v1.0.2
      - name: compile
        run: |
          make BINDINGS= ARCH=${{ matrix.platform }} lo.exe
      - name: check
        run: |
          make check
      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: ${{ github.workspace }}/lo.exe
          name: lo.exe
